<%- title "Frequently Asked Questions" %>

<%= render :partial => 'menu' %>

<div class="tabbed">
  <dl>
    <dt>I lost my password and cannot sign in.</dt>
    <dd>The <%= link_to "sign in page", signin_path %> has what you need!</dd>
    
    <dt>I never recieved my account activation email.</dt>
    <dd>First, wait a bit -- it might take a minute or two for it to get there. If you never recieve it, fill out the <%= link_to "retrieve password form", signin_path %> and we'll get you that activation email right away.</dd>
    
    <dt>My Address isn't showing up at the right location.</dt>
    <dd>First, try changing your address. If it still doesn't work, you might want to try entering a general address in your area.</dd>
    
    <dt></dt>
    <dd></dd>
    
    <dt></dt>
    <dd></dd>
    
    <dt></dt>
    <dd></dd>
    
    <dt></dt>
    <dd></dd>
    
    <dt></dt>
    <dd></dd>
    
    <dt></dt>
    <dd></dd>
    
    <dt>I have another question not on here...</dt>
    <dd>Feel free to contact us directly using the <a href="/contact">Contact Us</a> page. We'll see what we can do to resolve your issue as quick as possible.</dd>
    
    
  </dl>
</div>
