<%- title "Help" + separator + "Frequently Asked Questions" %>

<%= render :partial => 'menu' %>

<% tabbed_box do %>
  <h1><%= @title %></h1>
  <dl>
    <dt>I lost my password and cannot sign in.</dt>
    <dd>The <%= link_to "sign in page", signin_path %> has what you need! Complete the Forgotten Password form and we'll email you with directions on how to reset your password.</dd>
        
    <dt>I never recieved my account activation email.</dt>
    <dd>First, wait a bit -- it might take a minute or two for it to get there. If you never recieve it, fill out the <%= link_to "retrieve password form", signin_path %> and we'll try sending that activation email again right away.</dd>
    
    <dt>My Address isn't showing up at the right location.</dt>
    <dd>First, try changing your address. If it still doesn't work, that probably means Google can't find your address. You might want to try entering a general address in your area.</dd>
    
    <dt>I want to use an avatar, but not the one associated with the email I signed up with?</dt>
    <dd>
      That's a tricky one. Since we use Gravatar right now, you can only use the one associated with your email address. For now I recommend changing your email
      address used here on ArcadeFly. There's a little trick you can use and keep the same email address though! If you use the address <strong>myname@example.org</strong>,
      you can change this to <strong>myname+arcadefly@example.org</strong>.  This is actually a trick you can use with a lot of sites! Anything after the + can be whatever
      you want and it'll still go to the same address. Add this new address to Gravatar and there you have it -- same email address, 2 gravatars.
    </dd>

    <dt>I have another question not on here...</dt>
    <dd>Feel free to contact us directly using the <a href="/contact">Contact Us</a> page. We'll see what we can do to resolve your issue as quick as possible.</dd>  
  </dl>
<% end %>