<%- title "Frequently Asked Questions" %>

<%= render :partial => 'menu' %>

<div class="tabbed">
  <dl>
    <dt>I lost my password and cannot login.</dt>
    <dd>The <a href="/login/">login page</a> has what you need!</dd>
    
    <dt></dt>
    <dd></dd>
    
    <dt></dt>
    <dd></dd>
    
    <dt></dt>
    <dd></dd>
    
    <dt></dt>
    <dd></dd>
    
    <dt></dt>
    <dd></dd>
    
    <dt></dt>
    <dd></dd>
    
    <dt></dt>
    <dd></dd>
    
    <dt></dt>
    <dd></dd>
    
    <dt>I have another question not on here...</dt>
    <dd>Feel free to contact us directly using the <a href="/contact">Contact Us</a> page. We'll see what we can do to resolve your issue as quick as possible.</dd>
    
    
  </dl>
</div>
