<%- title "Help" + separator + "Features" %>

<%= render :partial => 'menu' %>

<% tabbed_box do %>  
  <h2><%= @title %></h2>
  <dl>
    <dt>Find Arcades to Play Games</dt>
    <dd>
      If we have one goal here, it's to help people find arcades to play the games they want. Have 
      you ever had a game on your mind but didn't know where you could go to play it? Or maybe 
      you've been to most the places around and you want to try somewhere new? This also helps if
      you're away from your normal stomping ground and want to find somewhere closeby.
    </dd>

    <dt>Find Local Hot Spots</dt>
    <dd>
      Registered users let us know which arcades are their favorite. Using this we can find which
      arcades are hot, and which games at that arcade at hot!
    </dd>
  
    <dt>Find Out What Games are Hot</dt>
    <dd>
      Based on what people are currently playing, we can see what games are on the rise and which
      are on the decline.
    </dd>
  
    <dt>Find Gamers at Your Favorite Spots</dt>
    <dd> 
      Chances are if you go to the same spot time after time you'll run into the same people. Get
      to know them a little better by making friends with them.
    </dd>
  </dl>
<% end %>