<%- title "Help" %>
<%= render :partial => 'menu' %>

<% tabbed_box do %>
  <h2><%= @title %></h2>
  <p>
    We're still building up a help section right now based on feedback we recieve. If you have a question you'd like to ask, please <%= link_to "contact us", contact_path %>. Questions helps us make a better site, so don't be afraid to let us know.
  </p>
<% end %>