<li class="<%= cycle("even","odd")%>">
	<%= link_to(profile.display_name, profile_path(profile), :class => 'main' ) %>
	
	<div class="count">
	  <%= pluralize(profile.frequentships.size, "favorite arcade") %> and <%= pluralize(profile.favoriteships.size, "favorite games") %>
  </div>
</li>