<% title 'Favorite Arcades for ' + @profile.display_name -%>

<% show_map = @profile.frequentships_count > 0 %>
<%= render :partial => 'profiles/menu', :locals => { :profile => @profile, :map => show_map } %>

<div class="tabbed">
  <ul class="data">
    <%= render :partial => 'arcades/arcade', :collection => @arcades %>
  </ul>
  
  <% if @profile.frequentships_count == 0 %>
  <p><strong><%= @profile.display_name %></strong> doesn't have any favorite arcades.</p>
  <% end %>
  
  <p>
    <%= will_paginate @arcades %>
  </p>
</div>