<% title @profile.display_name + separator + 'Edit Profile' -%>

<%= render :partial => 'profiles/menu', :locals => { :profile => @profile } %>

<% tabbed_box do %>
  <h1><%= @title -%></h1>
  <%= render :partial=>'form' %>
<% end %>