<% title @profile.display_name + separator + 'Edit Profile' -%>
<h2><%= @title -%></h2>

<%= render :partial => 'profiles/menu', :locals => { :profile => @profile } %>

<div class="tabbed">
  <%= render :partial=>'form' %>
</div>



