<% title @profile.display_name + separator + 'Favorite Games' -%>

<%= render :partial => 'profiles/menu', :locals => { :profile => @profile } %>

<% tabbed_box do %>
  <h2><%= @title %></h2>
  <% if @profile.has_games? %>
    <%= render :partial => 'games/games', :object => @games %>
  <% else %>  
    <p><%= @profile.display_name %> doesn't have any favorite games</p>
  <% end %>
<% end %>