<% title @profile.display_name + separator + " Messages" -%>

<%= render :partial => 'profiles/menu', :locals => { :profile => @profile } %>
<% tabbed_box do %>
  <h1><%= @title %></h1>

  <p>No messages so far. We'll implement this feature soon!</p>
<% end %>