<%- title "Login" -%>
<%- content_for(:header) do -%>
  <script>Event.observe(window, 'load', function() { Form.focusFirstElement('login_form'); });</script>
<%- end -%>

<div style="width:460px;" class="left">
  <%= render :partial => 'form' %>
</div>

<div style="width:460px;" class="right">
    <%= render :partial => 'passwords/form' %>

  
  <% box do %>
    <h3>Don't have an account?</h3>
    <p>
      <%= link_to "Signup", :id => nil, :action => 'index', :controller => 'signup' %> now and create one!
      By logging in, we can map the distances between you and any location -- not to mention many other
      <%= link_to "features", :id => nil, :action => 'features', :controller => 'help' %>.
    </p>
  <% end %>
</div>