<%- title "Login" -%>
<%- content_for(:header) do -%>
  <script>Event.observe(window, 'load', function() { Form.focusFirstElement('login_form'); });</script>
<%- end -%>

<div class="left half">
  <% box do %>
    <h2>Sign In</h2>
    <%= render :partial => 'form' %>
  <% end %>
</div>

<div class="right half">
  <% box do %>
    <%= render :partial => 'password/forgot_form' %>
  <% end %>
  
  <% box do %>
    <h3>Don't have an account?</h3>
    <p>
      <%= link_to "Signup", signup_path %> now and create one!
      By logging in, we can map the distances between you and any location -- not to mention many other
      <%= link_to "features", features_path %>.
    </p>
  <% end %>
</div>