<% title "Popular Arcades" -%>

<%= render :partial => 'menu' %>

<div class="tabbed">
  <ul class="data">
    <%= render :partial => 'arcades/arcade', :collection => @arcades, :locals => { :count => 'frequentships_count' } %>
  </ul>
  <p>
    <%= will_paginate @arcades %>
  </p>
</div>