<% title "Popular Games" -%>

<%= render :partial => 'menu' %>
  
<div class="tabbed">
  <ul class="data">
    <%= render :partial => 'games/game', :collection => @games, :locals => { :count => 'favoriteships_count' } %>
  </ul>
</div>