<% title "Popular Games" -%>

<%= render :partial => 'menu' %>
<% tabbed_box do %>
  <ul class="data">
    <%= render :partial => 'games/game', :collection => @games, :locals => { :count => 'favoriteships_count' } %>
  </ul>
  <p>
    <%= will_paginate @games %>
  </p>
<% end %>