<% title "Popular" -%>

<%= render :partial => 'menu' %>

<% tabbed_box do %>
  <h2><%= @title %></h2>  
  <p>We're still working on this page. For now please check the favorite pages for <%= link_to "popular arcades", popular_arcades_path %> or <%= link_to "popular games", popular_games_path %>.</p>
  <p>In the past 24 hours, here's where the action has been...</p>
<% end %>