/* Very general classes */
.left { float:left; }
.right { float:right; }

.clear { display: inline-block; clear:both; }   
.clear:after, .container:after {
  content: "."; 
  display: block; 
  height: 0; 
  clear: both; 
  visibility: hidden;
}
* html .clear { height: 1%; }
.clear { display: block; }

/*.clear { clear: both; } */
.clear-left { clear: left; }
.clear-right { clear: right; }
.block { display: block; }
.shift-1 { margin-top: 1em; }
.shift-2 { margin-top: 2em; }
.pull-4 { margin-top: -4em; }
.center { text-align: center; }
.hide { display:none; visibility: hidden; }
.hidden { visibility: hidden; }
.content-height { height: 400px; }
span.info, div.info { font-size: .8em; line-height: 1.875em; }
legend { padding: 0 .5em; }
.framed { border:1px solid #ccc; background-color:#ddd; }
img { margin:0; padding:0; }

/*  For general horizontal lists */
ul.nav li { display: inline; border-right: 1px solid #ccc; padding: 0 .5em; }
ul.nav li:last-child { border: none; }
ul.nav li a, ul.nav li a:visited { color: #369; text-decoration: none; }
ul.nav li a:hover, ul.nav li a:active { text-decoration: underline; }

a, a:visited { color: #369; text-decoration: none; }
a:hover, a:active { text-decoration: underline; }


/* Data lists */
ul.logged_in { width:880px;}
ul.data { margin:1em 0 0 0; padding:0; }
ul.data a { color: #2D7BB2; text-decoration: none; font-weight: bold; }
ul.data a:hover { color: #333; }
ul.data li { position: relative; display: block; border-bottom: 1px solid #EEE; _zoom: 1; }
ul.data li a.main {display: block;  padding: 0.4em 4.5em 0.4em 0.5em; position: relative; z-index: 2; }
ul.data li .count { display: block; position: absolute; top: 0; right: 0; margin: 0 0.3em; text-align: right; color: #999; font-weight: bold; font-size: 0.875em; line-height: 3em; z-index:2; }
ul.data li .favorite { display: inline; position:absolute; top:0; padding-left:1em; }
ul.data li .soft { color: #999; font-weight: bold; font-size: 0.875em; line-height: 2em; z-index:2; }
ul.data li a.favorite { display: inline;  padding: 1em; position: relative; z-index: 2; }
ul.data li:hover { background-color: #ddd; }
ul.data li span.index { display: block; position: absolute; top: 0; left: 0; height: 100%; background: #B8E4F5; text-indent: -9999px; overflow: hidden; line-height: 2em; z-index:1; }
ul.data li span.index:hover { background: #9fbceb; }
ul.content li .count { clear:left; position: relative; top:1em; }
ul.content li a { display: inline; }
ul.left-shift { position:absolute; left:-150px; } /* Used to shirt some menus beyond the main data */

/* Very cool tabs from  http://www.simplebits.com/bits/css_tabs.html */
ul.tabs { height: 2.6em; padding: 0 20px; background: url(../images/tab_bottom.gif) repeat-x bottom; clear: both; margin:0px; }
ul.tabs li { margin: 0; padding: 0; display: inline; list-style-type: none; }
ul.tabs a:link, ul.tabs a:visited { float: left; font-weight: bold; padding: .5em 1.2em; margin-right: 8px; border: 1px solid #a3a09e; text-decoration: none; color: #666; }
ul.tabs a { background-color: #f3f3f3; }
ul.tabs li.current a:link, ul.tabs li.current a:visited { border-bottom: 1px solid #ececec; background: #ececec; color: #000; }
ul.tabs a:hover { background-color: #fff;	}
ul.tabs a.arcades { background-color: #dde; }
ul.tabs a.arcades:hover { background-color: #ccf; }
ul.tabs a.games { background-color: #fdd; }
ul.tabs a.games:hover { background-color: #fcc; }
ul.tabs a.users { background-color: #ded; }
ul.tabs a.users:hover { background-color: #cec; }

/* Right aligned tabs */
ul.right-tabs { position:relative; top:-4em; }
ul.right-tabs li { float: right; }
.tabbed ul.right-tabs { top: -3.5em; }
.right-tabbed { position:relative; top:-4em; }
.tabbed .right-tabbed { top:0em; }

/* Pad the div below a ul.tab so that it has a left padding to match the first tab. */
div.tabbed { padding: 1em 0 1em 20px; margin-right:20px; }
div.right-space { padding: 1em 0 1em 0; margin-right:20px; }
div.tabbed-map { padding: 0em 0 1em 0; clear:both; }

body.games ul.tabs li.current a { background-color: #fdd; border-bottom: 1px solid #fdd; }
body.games .block_inside_topless, body.games .block_inside { display:block; background: #ffffff url(/images/background_block_slice_games.jpg) repeat-x; padding:30px; overflow:auto; border-left:1px solid #ffffff; border-right:1px solid #ffffff; border-bottom:1px solid #ffffff; }

body.arcades ul.tabs li.current a { background-color: #dde; border-bottom: 1px solid #dde; }
body.arcades .block_inside_topless, body.arcades .block_inside { display:block; background: #ffffff url(/images/background_block_slice_arcades.jpg) repeat-x; padding:30px; overflow:auto; border-left:1px solid #ffffff; border-right:1px solid #ffffff; border-bottom:1px solid #ffffff; }

body.profiles ul.tabs li.current a, body.friends ul.tabs li.current a, body.users ul.tabs li.current a, body.sessions ul.tabs li.current a, body.messages ul.tabs li.current a { background-color: #ded; border-bottom: 1px solid #ded; }
body.profiles .block_inside_topless, body.friends .block_inside_topless, body.users .block_inside_topless, body.sessions .block_inside_topless, body.messages .block_inside_topless,
body.profiles .block_inside, body.friends .block_inside, body.users .block_inside, body.sessions .block_inside, body.messages .block_inside { display:block; background: #ffffff url(/images/background_block_slice_users.jpg) repeat-x; padding:30px; overflow:auto; border-left:1px solid #ffffff; border-right:1px solid #ffffff; border-bottom:1px solid #ffffff; }



/* Styled boxes, usually on the right with additional text */
.box { border: 1px solid #ccc; background-color:#f6f6f6; }

/* Pagination */
.pagination { padding: 3px; margin: 3px; }
.pagination a { padding: 2px 5px 2px 5px; margin: 2px; border: 1px solid #6d84b4; text-decoration: none; color: #000099; }
.pagination a:hover, .pagination a:active {border: 1px solid #3b5998; color: #fff; background-color: #6d84b4; }
.pagination span.current { padding: 2px 5px 2px 5px; margin: 2px; border: 1px solid #000099; font-weight: bold; background-color: #3b5998; color: #FFF; }
.pagination span.disabled { padding: 2px 5px 2px 5px; margin: 2px; border: 1px solid #ccc; color: #bbb; }

/* Cool links and buttons */
.admin, .admin:link { color: red; }
ul.admin { display: inline; }
ul.admin li { display: inline; float:left; }

/* Elements that require secial attention for inline scrolling */
.scrollable { overflow-x: hidden; overflow-y: scroll; }
ul.scrollable li, ul.items li { clear: both; }
ul.scrollable li:hover, ul.items li:hover { background-color: #ddd; }
ul.scrollable li label, ul.items li label { display: block; font-weight:normal; }

/* Default colors for rows */
.even { background-color: #efefef; }
.odd { }

/* Notices */
.error, .notice, .warning    { padding: .8em; margin-bottom: 1em; }
div.notice { background-color: #CFC; border: solid 1px #6C6; }	
div.warning { background-color: #ff9; border: solid 1px #fc0; }
div.error { background-color: #FCC; border: solid 1px #C66; }

div.notice span.icon, div.warning span.icon, div.error span.icon { padding-left: 2em; }

/* Counts displayed on an arcade/game/user page */
span.counts { border: 1px solid #ccc; margin-left:1em; }
span.counts a { display:block; padding:1em 2em 1em 3em; font-weight: bold; }
span.counts a:first-child { border-bottom: 1px solid #ccc;}

span.counts a.arcades { background: url(/images/joystick.png) #dde no-repeat left; background-position: 1em; }
span.counts a.games { background: url(/images/controller.png) #fdd no-repeat left; background-position: 1em; }
span.counts a.users { background: url(/images/user.png) #ded no-repeat left; background-position: 1em; }

a.arcades { background-color: #dde; }
a.arcades:hover { background-color: #ccf; }
a.games { background-color: #fdd; }
a.games:hover { background-color: #fcc; }
a.users { background-color: #ded; }
a.users:hover { background-color: #cec; }


/* Graphics for adding/removing something from favorites */
li.favorited { background-color: #B8E4F5; }
.favorite_left { padding:0 1em .3em 0px; }
.favorite_add { background: url(/images/heart_add.png) no-repeat left;  }
.favorite_delete { background: url(/images/heart_delete.png) no-repeat left; }
.arcade_add { background: url(/images/joystick_add.png) no-repeat left; }
.arcade_delete { background: url(/images/joystick_delete.png) no-repeat left; }
.arcade_error { background: url(/images/joystick_error.png) no-repeat left; }
.user_add { background: url(/images/user_add.png) no-repeat left; }
.user_delete { background: url(/images/user_delete.png) no-repeat left; }
.game_add { background: url(/images/controller_add.png) no-repeat left; }
.game_delete { background: url(/images/controller_delete.png) no-repeat left; }

/* Global Map settings */
.map_box { padding:0; margin:0; }
.map_box ul { width:370px; list-style:none; margin:0; padding:0; float:left; }
.map_box ul li { clear: both; padding:.2em .2em .2em .5em; }

.map_box ul, div.map { border: 1px solid #ccc; margin-bottom: 1em; }
.map_box div.map { float:right; }

div.map_big { width: 894px; height: 350px; padding-bottom: 1em; } /* Entire Page Map */
div.map_medium { width:510px; } /* List Map */
div.map_small { width: 300px; height:250px; padding: 1em; } /* Profile Map */
div.map_small_width { width: 300px; }

  
ul.wizard { margin:0; padding:0; border:1px solid red; border: 1px solid #ccc; width:985px; }
ul.wizard li { margin: 0; padding: .5em; float:left; width: 300px; }
ul.wizard li.active { background-color: #efefef; }
ul.wizard li.complete { background-color: #ededed; }

.focus { width:580px; }
.gutter { width: 340px; }
.half { width:440px; }

ul.features { list-style:none; margin:0; display:inline; }
ul.features li { border: 1px solid #ccc; background-color:#f6f6f6; padding:1em; margin-bottom:1em;}
ul.features li img { border:1px solid #b5b5b5; margin:20px; }

div.large_left_column { width:640px; float:left;}
div.left_column { width:540px; float:left;}
div.left_column .short_description { width:370px; float: right; }
div.left_column .left_column_content { clear: both; padding-top: 2em; }
div.right_column { width:300px; float:right; }


div.autocomplete { margin:0px; padding:0px; width:250px; background:#fff; border:1px solid #888; position:absolute; overflow-y:auto; max-height:300px; z-index:300; }
div.autocomplete ul { margin:0px; padding:0px; list-style-type:none; background-color:#fff; }
div.autocomplete ul li.selected {  background-color:#ffb; }
div.autocomplete ul li { margin:0; padding:2px; height:32px; display:block; list-style-type:none; cursor:pointer; }
