body { margin:0px; padding:0px; background-color:#131211; font-family:Arial, Helvetica, sans-serif; color:#7f7d78; font-size:13px; line-height:19px; }

/* Text-Styles */
h2 { margin:0px 0px 10px 0px; font-size:36px; font-family:Helvetica, Arial, Sans-serif; color:#000000; line-height:39px; letter-spacing:-1px; }
h3 { margin:0px 0px 5px 0px; font-size:14px; line-height:21px; font-family:Helvetica, Arial, Sans-serif; color:#000000; }
h4 { color:#007de2; margin:0px 0px 0px 0px; }
small { color:#595856; font-weight:bold; font-size:11px; display:block; margin-bottom:15px; }
small a { color:#007de2; }
legend { padding: 0 .5em; }
p { margin: 0px 0px 15px 0px; }
img { margin:0; padding:0; }

v:* { behavior:url(#default#VML);}

a, a:visited { color:#26689f; text-decoration:none; }
a:hover, a:active { text-decoration: underline; }
a img { border:none; }

a.arcades { background-color: #dde; }
a.arcades:hover { background-color: #ccf; }
a.games { background-color: #fdd; }
a.games:hover { background-color: #fcc; }
a.users { background-color: #ded; }
a.users:hover { background-color: #cec; }

.content-height { height: 400px; }

.left { float:left; }
.right { float:right; }

.clear { display: inline-block; clear:both; }   
.clear:after, .container:after { content: ".";  display: block; height: 0; clear: both; visibility: hidden; }
* html .clear { height: 1%; }
.clear { display: block; }


.inline { display:inline; }
.block { display: block; }
.center { text-align: center; }
span.info, div.info { font-size: .8em; line-height: 1.875em; }

/* Default colors for rows */
.even { background-color: #efefef; }
.odd { }


/* Notices */
.error, .notice, .warning    { padding: .8em; margin-bottom: 1em; }
div.notice { background-color: #CFC; border: solid 1px #6C6; }	
div.warning { background-color: #ff9; border: solid 1px #fc0; }
div.error { background-color: #FCC; border: solid 1px #C66; }
div.notice span.icon, div.warning span.icon, div.error span.icon { padding-left: 2em; }

/* Graphics for adding/removing something from favorites */
li.favorited { background-color: #B8E4F5; }
.favorite_left { padding:0 1em .3em 0px; }
.favorite_add { background: url(http://static.arcadefly.com/images/icons/heart_add.png) no-repeat left;  }
.favorite_delete { background: url(http://static.arcadefly.com/images/icons/heart_delete.png) no-repeat left; }
.arcade_add { background: url(http://static.arcadefly.com/images/icons/joystick_add.png) no-repeat left; }
.arcade_delete { background: url(http://static.arcadefly.com/images/icons/joystick_delete.png) no-repeat left; }
.arcade_error { background: url(http://static.arcadefly.com/images/icons/joystick_error.png) no-repeat left; }
.user_add { background: url(http://static.arcadefly.com/images/icons/user_add.png) no-repeat left; }
.user_delete { background: url(http://static.arcadefly.com/images/icons/user_delete.png) no-repeat left; }
.game_add { background: url(http://static.arcadefly.com/images/icons/controller_add.png) no-repeat left; }
.game_delete { background: url(http://static.arcadefly.com/images/icons/controller_delete.png) no-repeat left; }

/* main image that shows up in a featured div */
.features img.thumbnail { border:1px solid #b5b5b5; background-color:#d2d2d2; float:left; margin-right:10px; }

/* Deprecated */
.shift-1 { margin-top: 1em; }
.shift-2 { margin-top: 2em; }

img.framed { border:1px solid #ccc; }