<div class="column span-12">
  <p>We'll send this email instructions on how to reset your password.</p>
    
  <%= error_messages_for :user %>
  
  <fieldset>
    <legend>Forgot Password</legend>
    <% form_for :user do |f| -%>
    <p class="block">
      <label for="email">Email</label>
      <td><%= f.text_field :email %></td>
    </p>
    
    <p><%= submit_tag 'Submit', { :class => 'button' } %></p>
    <% end -%>
  </fieldset>
</div>