Welcome to ArcadeFly.com! 

<h2>What can you do next?</h2>  
<dl>
  <dt>Find some arcades you frequent, or add some</dt>
  <dd>This site is powered by the contributions from users like you.  If you can help make our list more complete is benefits everyone! Check out the <%= link_to "arcades", arcades_path %> section for locations near you.</dd>

  <dt>Find a game to play</dt>
  <dd>Ever wanted to find a place to play a game but didn't know what arcade had it? Look it up in our <%= link_to "games", games_path %> database and find arcades closeby.</dd>

  <dt>Add games to an arcade</dt>
  <dd>If you know of games at an arcade that aren't listed. Just edit the arcade and add them!</dd>

  <dt>Find gamers in your area</dt>
  <dd>If you frequent an arcade, you can add that arcade to your list of favorites. You can also check out who else has added that arcade to their list of favorites.</dd>
</dl>