<% if params[:search] == letter %>
  <span class="current"><%= letter.upcase %></span>
<% else %>
  <%= link_to letter.upcase, :controller => controller, :action => action, :search => letter %>
<% end %>