<% 
  letters = ('a'..'z').to_a << '#' 
  action ||= 'index'
-%>
<div class="pagination">
  <%= render :partial => "shared/letter", :collection => letters, :locals => { :controller => controller, :action => action } %>
  <% if params[:search] %>
    <%= link_to "No filter", :controller => controller, :action => action %>
  <% end %>
</div>