<%- title "About" %>
<h2>About ArcadeFly.com</h2>

<p class="span-10">
  ArcadeFly is run by the community. It's thanks to passionate gamers and arcade goers that this site is even possible. It was founded by 
  <a href="/profiles/1-adam-fortuna">Adam Fortuna</a> and launched publically in July 2008. The goal of this site is to bring gamers 
  together to play and have fun, while also providing people a one stop place for arcade and game locations across the world.
</p>