<%- title "Contact Us" -%>
<% box do %>
  <h2>Contact Us</h2>

  <p>
    Do you want to ask us a question? Maybe make a recommendation or suggestion? We'd be happy to hear it!
    If you need to contact anyone below, feel free to email them directly. Also, you can email
    <a href="mailto:support@arcadefly.com">support@arcadefly.com</a> which will be recieved by the entire ArcadeFly staff.
  </p>

  <h3>Sponsorship and Affiliations</h3>
  <p>
    You may have noticed we don't have much in the way of ads or links to external sites here on ArcadeFly. We're planning on rolling out some sponsership 
    opportunities in the coming months, but even then we're going to try our best to never have obtrusive banner ads. If you have a product or website that you think
    ties in with our theme, and you'd be interested in becomming a paid sponsor, please contact <a href="mailto:sponsor@arcadefly.com">sponsor@arcadefly.com</a>
    and we'll get in touch with you about rate information and details on what we have planned.
  </p>


  <h3>ArcadeFly Staff</h3>
  <ul class="features">
    <% list_box do %>
      <img src="http://www.gravatar.com/avatar.php?gravatar_id=8571728785e5e350ddb58cd458533b12" alt="Gravatar for Adam Fortuna" class="left" />
      <h3><a href="/profiles/1-adam-fortuna">Adam Fortuna</a></h3>
      <p>
        Adam is the designer/programmer of this site and a long time lover of arcades. Adam started ArcadeFly with the hope of bringing people together to game
        in arcades at a time when most people tend to game at home instead. In the Orlando area and want to hang out? Let me know! View Adam's profile for more info.
        If you need to contact Adam directly, feel free to email him at <a href="mailto:adam@arcadefly.com">adam@arcadefly.com</a>.
      </p>
    <% end %>
  </ul>
<% end %>