<%- title "Contact Us" -%>
<h2>Contact Us</h2>

<p>
  If you need to contact anyone below, messaging them on ArcadeFly is the preferred method of contact. Also, <em>you can fill out the 
  <a href="http://blog.arcadefly.com/contact/">ArcadeFly contact form</a></em> which will be recieved by the entire ArcadeFly staff.
</p>



<ul>
  <li class="box">
    <img src="http://www.gravatar.com/avatar.php?gravatar_id=8571728785e5e350ddb58cd458533b12" alt="Gravatar for Adam Fortuna" class="left append-1" />
    <h3><a href="/profiles/1-adam-fortuna">Adam Fortuna</a></h3>
    <p class="shift-1">
      Adam is the designer/programmer of this site and a long time lover of arcades. Adam started ArcadeFly with the hope of bringing people together to game
      in arcades at a time when most people tend to game at home instead. In the Orlando area and want to hang out? Let me know! View Adam's profile for more info.
    </p>
  </li>
</ul>