<%- title "404!" %>

<% box do %>
  <h1>404!</h1>
  <p>Looks like the page you were looking for cannot be found. This probably means we messed up somehow, but we'll do our best to correct the problem!</p>
<% end %>