<% content_for(:header) do %>
  <script>
    Event.observe(window, 'load', function() {
      if($F('address') != '')
        toggleLabel(false);
    });
    function toggleLabel(show) {
      show && $F('address') == '' ? $('address_label').show() : $('address_label').hide();
    }
  </script>
  <style>
  <!--
  #features { font-size: 1.5em;  }
  #features li { padding: 1em; }
  #location_search label { position:absolute; margin:.8em 0 0 .6em; color:#aaa; font-size:1.8em }
  #location_search input#address { width: 80%; font-size:2em; }
  //-->
  </style>
<% end %>


<style>
  <!--
  //-->
</style>
<script>
<!--
//-->
</script>


<h2>We will help you find...</h2>

<ul id="features">
  <li class="box center span-7 column arcades">Arcades that are closeby</li>
  <li class="box center span-7 column games">Games in your area</li>
  <li class="box center span-7 right users">Players to hang out with</li>
</ul>

<% if !logged_in? %>
  <fieldset class="clear" id="location_search">
    <legend>Find arcades in your area!</legend>
      <% form_tag(addresses_path) do %>
          <label id="address_label" for="address">Enter your address to get started...</label>
          <%= text_field_tag :address, addressed_in? ? current_address.single_line : '', { :class => 'text', :onfocus => 'toggleLabel(false);', :onblur => 'toggleLabel(true);' } %>  
          <%= submit_tag "Find Arcades!", :class => 'inline big-button', :disable_with => 'Finding...', :id => 'find' %>
      <% end %>
  </fieldset>
  
<% else %>
  <div class="box clear">
    Looking to change your address? Or view arcades close to a different address? Just <%= link_to "change the address associated with your account", edit_profile_path(current_profile) %>.
  </div>
<% end %>