<div id="about">
	<h1 class="hidden">ArcadeFly.com - Arcade and Game Locations</h1>
	<h2>What is ArcadeFly.com?</h2>
	<p>ArcadeFly is a community powered arcade and game listing site aiming to be the one stop source for anyone who steps foot in an arcade.</p>
	<p>Want to know where an arcade is? Or where you can play a specific game? Or event what games are popular in your area? We can help!</p>
</div>

<ul id="feature_menu">
	<li><a class="current" href="#">RECENT ARCADES</a></li>
	<li><a href="#">POPULAR GAMES</a></li>
	<li><a href="#">RECENTLY JOINED PLAYERS</a></li>
</ul>

<div id="feature">
  <%= image_tag "layout/feature_img.gif" %>
	<ul>
    <li><a href="/arcades/jungin-arcade">JungIn Arcade</a> in <a href="#">Seoul, KOR</a> has 7 games.</li>
    <li><a href="/arcades/woori-norituh">Woori Norituh</a> in <a href="#">Seoul, KOR</a> has 5 games.</li>
    <li><a href="/arcades/virtualand">Virtualand</a> in <a href="#">Singapore, SGP</a> has 44 games.</li>
    <li><a href="/arcades/gameworks-6">Gameworks</a> in <a href="#">Seattle, WA, USA</a> has 5 games.</li>
    <li><a href="/arcades/video-94">Video 94</a> in <a href="#">West Covina, CA, USA</a> has 5 games.</li>
  </ul>
</div>

<div class="clear"></div>

<div id="news">
	<h2><a href="#">Latest News</a></h2>
	<p class="date"><span>2nd</span><br />Dec</p>
	<p class="subtitle">Lots of site improvements, speeds and otherwise</p>
	<p>We recently fixed most the bugs currently on ArcadeFly. There’s a few in the works, but nothing major outstanding. We recently upgraded to Rails 2.2 with Passenger instead of Mongrel. Things are really coming along though and become stable enough to build on. We’re planning on expanding out to some new features in the coming weeks, but still looking for suggestions on where to place our focus. If you see any problems with the way things are now, please email me or just reply to this post. We’re looking into some better ways of tracking bugs, but the free ones don’t seem to compare).</p>
	<p><a class="more" href="#">&not; READ MORE</a> <a class="more" href="#">&not; COMMENT [12]</a> <a class="more" href="#">&not; SHARE</a> </p>
	<p>Read more news...</p>
</div>

<div id="reviews">
  <h2><a href="#">Recent Reviews</a></h2>
  <ul>
    <li>
      <span class="sidedate">4.5<br /><span>RATING</span></span>
			<a href='#'>Rocky's Replay</a> (Arcade)<br />Rocky's Replay is the only sole arcade in Orlando. There are other arcades that are part of movie theaters, bowling alleys and... <a href='#'>read more</a>
    </li>
    <li>
      <span class="sidedate">4.5<br /><span>RATING</span></span>
			<a href='#'>Street Fighter IV</a> (Game)<br />Rocky's Replay is the only sole arcade in Orlando. There are other arcades that are part of movie theaters, bowling alleys and  ... <a href='#'>read more</a>
    </li>
    <li>
      <span class="sidedate">4.5<br /><span>RATING</span></span>
			<a href='#'>Street Fighter IV</a> (Game)<br />Rocky's Replay is the only sole arcade in Orlando. There are other arcades that are part of movie theaters, bowling alleys and  ... <a href='#'>read more</a>
    </li>
  </ul>
  <p>Read more reviews...</p>
</div>