<% title "Welcome to ArcadeFly.com!" %>

<h3>What is ArcadeFly.com?</h3>
<p>
  We are a place to find where to play arcade games! Have you ever had a game in mind but not known where you could go to play it?
</p>
<p>
  <b>Here's a few sample questions you might want to ask:</b>
  <ul>
    <li>Where can I play <a href="/games/dance_dance_revolution_supernova">Dance Dance Revolution Supernova</a> near Orlando, Florida?</li>
    <li>What <a href="/arcades/disney_quest/games">games</a> are available at <a href="/arcades/disney_quest">Disney Quest</a>?
  </ul>
</p>

<h3>How does signing up help me?</h3>
<p>If you sign up and provide your address, we'll be able to show arcades that are closest to you. We'll even be able to work out what games are hot in your area.</p>