<% if !logged_in? %>
  <% javascript do %>
      Event.observe(window, 'load', function() {
        if($F('address') != '')
          toggleLabel("address", false);
      });
  <% end %> 
<% end %>

<% box do %>
  <h2 id="text_title">ArcadeFly is the place for Arcade and Game locations</h2>
  
  <% if !logged_in? %>
    <% form_tag(addresses_path, :id => "controller_search", :class => "big_search") do %>
      <label id="address_label" for="address">Enter your address to show some arcades closeby...</label>
      <%= text_field_tag :address, addressed_in? ? current_address.single_line : '', { :class => 'title', :onfocus => 'toggleLabel("address", false);', :onblur => 'toggleLabel("address", true);' } %>
      <%= submit_tag "Find Arcades!", :class => 'big-button', :disable_with => 'Finding...', :id => 'find' %>
    <% end %>
  <% end %>
<% end %>

<div class="left third">
<% box 'arcades' do %>
  <h3>Arcades</h3>
  <p>Find arcades close by, or wherever you want.</p>
<% end %>
</div>

<div class="left third">
<% box 'games third' do %>
  <h3>Games</h3>
  <p>Looking for a game? We can help you find it.</p>
<% end %>
</div>

<div class="left third last">
<% box 'profiles third' do %>
  <h3>Players</h3>
  <p>Find gamers with similar interests asdf asdf a .</p>
<% end %>
</div>