<%- show_text ||= false -%>
<% if logged_in? %>
  <p class="favorite" id="favorite_game_<%= game.id %>">
    <% if current_profile.has_favorite_game?(game) %>
	    <%= unfavorite_game_link(game, { :show_text => show_text}) %>
	  <% else %>
      <%= favorite_game_link(game, { :show_text => show_text}) %>
	  <% end %>
  </p>
<% end %>