    <p class="block">
      <label for="game_name">Name</label>
      <%= f.text_field :name, { :class => 'text' } %>
    </p>
    <p class="block">
      <label for="game_gamefaqs_id">GameFAQs ID</label>
      <%= f.text_field :gamefaqs_id, { :class => 'text' } %>
    </p>