<h2><%= @title %></h2>
<ul class="tabs">
  <%= menu_link "Game Info", game_path(game), { :a_class => 'games' } %>
  <%= menu_link "Arcades with this Game", game_arcades_path(game), { :a_class => 'arcades' } %>
  <%= menu_link "Players who Favorited this Game", game_profiles_path(game), { :a_class => 'users' } %>
</ul>