<% title "Games" + separator + @game.name + separator + "Arcades with this Game" -%>

<%= render :partial => 'games/menu', :locals => { :game => @game } %>

<% tabbed_box do %>
  <h2><%= @title %></h2>
  <% if @arcades.size > 0 %>
    <%= render :partial => 'arcades/arcades', :locals => { :arcades => @arcades, :map => @map } %>
  <% else %>
    <p>Sorry, we don't know anywhere you can go to play this game. <strong>If you know of any arcades that have it, please add them!</strong></p>
  <% end %>
<% end %>