<% box do %>
  <h1>New Game</h1>
  <%= error_messages_for :game %>

  <% form_for(:game, :url => games_path) do |f| %>
    <%= render :partial => 'form', :locals => { :game => @game, :f => f } %>
    <p>
      <%= submit_tag "Create" %>
    </p>
  <% end %>
<% end %>