<% title "Popular Games" -%>

<%= render :partial => 'popular/menu' %>
<% tabbed_box do %>
  <h1><%= @title %></h1>
  <p>Here are all games that have been favorited at least once, ordered by favorites.</p>
  <%= render :partial => 'games/games', :object => @games %>
<% end %>