<% title 'Games - ' + @game.name -%>

<%= render :partial => 'games/menu', :locals => { :game => @game } %>

<div class="tabbed">
  <%= render :partial => 'users/list', :locals => { :users => @game.users } %>
  
  <% if @game.users.length == 0 && logged_in? %>
    <p>
      <%= link_to "Add this game to your favorites", game_favorite_path(@game), { :method => "post" } %>
    </p>
  <% end %>
</div>