<%= error_messages_for :user %>


<fieldset>
  <legend>Forget Your Password?</legend>
  <% form_tag url_for(:controller => 'passwords', :action => 'create') do -%>
  <p class="block">
    <label for="email">Enter Your Email Address</label>
    <%= text_field_tag :email, params[:email], :size => 50, :class => 'text' %>
  </p>
  
  <p><%= submit_tag 'Retrieve Forgotten Password', { :class => 'button', :disable_with => 'Retrieving password...' } %></p>
  <% end %>
</fieldset>