<div class="column span-12">
  <p>We'll send this email instructions on how to reset your password.</p>
    
  <%= error_messages_for :user %>
  
  <fieldset>
    <legend>Lost Username or Password?</legend>
    <% form_tag url_for(:action => 'create') do -%>
    <p class="block">
      <label for="email">Enter Your Email Address</label>
      <td><%= text_field_tag :email, "", :size => 50, :class => 'text' %></td>
    </p>
    
    <p><%= submit_tag 'Reset Password', { :class => 'button' } %></p>
    <% end %>
  </fieldset>
</div>