<h1>New address</h1>

<%= error_messages_for :address %>

<% form_for(:address, :url => addresses_path) do |f| %>
  <fieldset>
    <legend>Create a new Address</legend>

    <%= render :partial => 'shared/address' %>
		<p>
      <%= f.submit "Create" %>
    </p>
	</fieldset>
<% end %>

<%= link_to 'Back', addresses_path %>