<div class="map_box">
  <ul class="scrollable content content-height">
    <%= render :partial => 'arcades/arcade', :collection => arcades %>
  </ul>
  <%= render :partial => 'shared/addressables', :object => arcades %>
</div>

<%= will_paginate arcades %>

<%= render :partial => 'arcades/list_footer' %>