<ul class="nav shift-2">
  <li><%= link_to "Arcades Listing", arcades_path %></li>
  <% if logged_in? %>
    <li><%= link_to "Edit this arcade", edit_arcade_path(arcade) %></li>
    <li><%= link_to "Add a new arcade", new_arcade_1_path %></li>
  <% end %>
</ul>