<ul class="nav">
  <li><%= link_to "Arcades Listing", arcades_path %></li>
  <% if role?('arcade_editor') %>
    <li><%= link_to "Edit", edit_arcade_path(arcade), :class=>'admin' %></li>
    <li><%= link_to "New", new_arcade_1_path, :class=>'admin' %></li>
  <% end %>
</ul>