<%
  page_title = "Arcades Listing"
  page_title += " - #{@title}" unless @title.nil? 
  title page_title 
-%>

<%= render :partial => 'arcades/list_menu', :locals => { :map => true } %>

<div class="tabbed"
  <ul class="data shift-1">
    <%= render :partial => 'arcade', :collection => @arcades %>
  </ul>
</div>

<p>
  <%= will_paginate @arcades %>
  <%= link_to 'Add a new arcade', new_arcade_path %>
</p>