<% title 'Arcades' + separator + @arcade.name + separator + "Modify Games" %>
<%= render :partial => 'menu', :locals => { :arcade => @arcade } %>

<% tabbed_box do %>
  <h2><%= @title%></h2>
<% end %>