<% title 'Arcades - ' + @arcade.name %>

<%= render :partial => 'arcades/menu', :locals => { :arcade => @arcade } %>

<div class="tabbed">
  <ul class="data">
    <%= render :partial => 'games/game', :collection => @arcade.playables %>  
  </ul>
  
  <p>
    <%= will_paginate @games %>
  </p>
  
  <%= render :partial => 'arcades/footer', :locals => { :arcade => @arcade } %>
</div>  