<% title 'Arcades - ' + @arcade.name %>

<%= render :partial => 'arcades/menu', :locals => { :arcade => @arcade } %>

<div class="tabbed">
  <ul class="data">
    <%= render :partial => 'games/game', :collection => @arcade.games %>  
  </ul>
    
  <%= render :partial => 'arcades/footer', :locals => { :arcade => @arcade } %>
</div>  