<% title 'Arcades' + separator + @arcade.name + separator + 'Games' %>

<%= render :partial => 'arcades/menu', :locals => { :arcade => @arcade } %>

<% tabbed_box do %>
  <h2><%= @title %></h2>

  <%= render :partial => 'games/games', :object => @games %>
  
  <%= button_to "Manage Games at this Arcade", edit_arcade_games_path(@arcade), { :method => "get" } %>
<% end %>