<% title 'Arcades' + separator + @arcade.name + separator + 'Games' %>

<%= render :partial => 'arcades/menu', :locals => { :arcade => @arcade } %>

<div class="tabbed">
  <ul class="data">
    <%= render :partial => 'games/game', :collection => @games %>
  </ul>
  
  <p>
    <%= will_paginate @games %>
  </p>
  
  <%= button_to "Manage Games at this Arcade", edit_arcade_games_path(@arcade), { :method => "get", :class => "games" } %>
</div>  