<%- title "List Arcades" -%>
<%= render :partial => 'arcades/list_menu' %>

<% tabbed_box do %>
  <h1><%= @title %></h1>
  <%= render :partial => 'arcades/list', :locals => { :arcades => @arcades } %>
<% end %>