<% title 'Arcades' + separator + "New Arcade" %>

<% tabbed_box do %>
  <h1><%= @title%></h1>
  <p class="info">
    Thanks for wanting to lend a hand! We're powered completely by user submissions, so every little bit helps.
    <strong>New to modifing arcades here? You might want to read the help docs on <%= link_to "editing arcades", "/help/arcades"%>.</strong>
  </p>

  <%= error_messages_for :arcade %>
  
  <% form_for(:arcade, :url => arcade_path(@arcade), :html => { :method => :post, :id => 'arcade_form' }) do |f| %>
    <%= render :partial => 'form', :locals => { :f => f } %>
  <% end %>
<% end %>