<% title "Create a New Arcade" + separator + "Basic Info" -%>
<h2><%= @title %></h2>

<ul class="wizard clear">
  <li class="active">1) Basic Info</li>
  <li>2) Verify Info</li>
  <li>3) Add Games</li>
</ul>

<fieldset class="span-24 clear">
  <legend>Basic Info</legend>

  <% form_for(:arcade, :url => new_arcade_1_path, :html => { :id => 'arcade_form' }) do |f| %> 
    <%= render :partial => 'form' %>
  <% end %>
</fieldset>