<% title "Create a New Arcade" + separator + "Verify Info" -%>
<h2><%= @title %></h2>

<ul class="wizard clear">
  <li class="complete">1) Basic Info</li>
  <li class="active">2) Verify Info</li>
  <li>3) Add Games</li>
</ul>

<fieldset class="span-24 clear">
  <legend>Verify Info</legend>

  <% form_for(:arcade, :url => new_arcade_2_path, :html => { :id => 'new_arcade_form' }) do |f| %>
    
    <p>
      <%= submit_tag "« Edit Details", :class => "big-button left", :disable_with => 'Submitting...', :name => 'commit_back' %>
      <%= submit_tag "Add Games »", :class => "big-button right", :disable_with => 'Submitting...', :name => 'commit_next' %>
    </p>
  <% end %>
</fieldset>