<% title "Popular Arcades" -%>

<%= render :partial => 'popular/menu' %>

<% tabbed_box do %>
  <h1><%= @title %></h1>
  <p>Here are all arcades that have been favorited at least once, ordered by favorites.</p>
  <%= render :partial => 'arcades/arcades', :object => @arcades %>
<% end %>