<% title 'Arcades - ' + @arcade.name %>

<%= render :partial => 'arcades/menu', :locals => { :arcade => @arcade } %>

<div class="tabbed">
  <%= render :partial => 'users/list', :locals => { :users => @arcade.users } %>  

  <%= render :partial => 'arcades/footer', :locals => { :arcade => @arcade } %>
</div>