<% title 'Arcades - ' + @arcade.name %>

<%= render :partial => 'arcades/menu', :locals => { :arcade => @arcade } %>

<div class="tabbed">

  <ul class="data">
    <%= render :partial => 'users/user', :collection => @arcade.users, :locals => { :parent => :arcade } %>
  </ul>
  
  <%= render :partial => 'arcades/footer', :locals => { :arcade => @arcade } %>
</div>