<% title 'Arcades - ' + @arcade.name %>

<%= render :partial => 'arcades/menu', :locals => { :arcade => @arcade } %>

<div class="tabbed">

  <ul class="data">
    <%= render :partial => 'users/user', :collection => @arcade.users, :locals => { :parent => :arcade } %>
  </ul>
  
  <% if @arcade.users.length == 0 && logged_in? %>
    <p>
      <%= link_to "Add this arcade to your favorites", arcade_favorite_path(@arcade), { :method => "post" } %>
    </p>
  <% end %>
  
  
  <%= render :partial => 'arcades/footer', :locals => { :arcade => @arcade } %>
</div>