<% title "Account Settings for #{@user.login}" %>

<%= render :partial => 'users/menu', :locals => { :user => @user } %>

<div class="tabbed column span-15 clear">
  Addresses here...
</div>

<%= render :partial => 'menu', :locals => { :user => @user } %>