<% title "Edit Account Details" -%>
<%= error_messages_for :user %>

<% form_for :user do |f| -%>
  <fieldset>
    <legend>Change Account Details</legend>
    <p class="block">
      <label for="login">Login</label>
      <%= f.text_field :login, { :class => 'text', :size => 45 } %>
    </p>
    <p>
      <%= submit_tag "Change Account Details" %>
    </p>
  </fieldset>
<% end %>