<li class="<%= cycle("even","odd")%>">
  <a href="<%= product.detail_page_url %>" class="main" target="_blank"><%= product.item_attributes.title %></a>
  by <%= product.item_attributes.manufacturer %>
</li>